---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { Image } from "astro:assets";
import { getCookItem } from "service/notionApi";

const notionItem = await getCookItem();
const images = notionItem.map(item => {
  const label = item.title.plain_text;
  const href = item.cover;
  const size = {
    width: 1200,
    height: 1200,
  };
  return {
    label,
    href,
    size,
  };
});
---

<Layout title={`Life | ${SITE.title}`}>
  <Header activeNav="life" />
  <Main pageTitle="" pageDesc="Cherish the beautiful moments in life.">
    <main class="mb-auto">
      <div class="max-w-screen-xl md:px-8 mx-auto px-4">
        <div
          id="my-gallery"
          class="pswp-gallery gallery md:gap-6 lg:grid-cols-4 xl:gap-8 grid grid-cols-2 gap-4 sm:grid-cols-3"
        >
          {
            images.map(image => (
              <a
                href={image.href}
                data-cropped="true"
                data-pswp-width={image.size.width}
                data-pswp-height={image.size.height}
                class="gallery-item md:h-96 group relative flex h-72 items-end justify-end overflow-hidden rounded-xl bg-gray-100 shadow-lg hover:shadow-xl"
              >
                <div class="absolute inset-0 flex h-full w-full object-cover object-center text-transparent transition duration-200 group-hover:scale-110">
                  <Image
                    src={image.href}
                    alt={image.label}
                    width={image.size.width / 3}
                    height={image.size.height / 3}
                  />
                </div>

                <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent opacity-20 transition duration-200 group-hover:opacity-0" />

                <span class="md:px-3 md:text-sm relative mb-3 mr-3 inline-block rounded-lg border border-gray-500 px-2 py-1 text-xs text-gray-200 backdrop-blur transition duration-200 group-hover:opacity-0">
                  {image.label}
                </span>
              </a>
            ))
          }
        </div>
      </div>
    </main>
  </Main>
  <Footer />
</Layout>
